/* Firefox CSS
 * Minimal firefox css tweaks
 * Assorted hacks from https://github.com/MrOtherGuy/firefox-csshacks/
 */

/* same color for nav and tab bar */
#navigator-toolbox:not(:-moz-lwtheme) {
	background: var(--toolbar-field-background-color) !important; )
}
#nav-bar {
	border:     none !important;
	box-shadow: none !important;
	background: transparent !important;
}


/* dimmer selected background for urlbar */
#urlbar-background {
	background: var(--tab-selected-bgcolor) !important;
	filter: brightness(85%);
}
#tabbrowser-tabs{
	--lwt-tab-line-color: var(--toolbar-field-background-color) !important;
	background: var(--lwt-tab-line-color) !important;
}

/* remove active tab border */
.tab-background{
  outline: none !important;
  box-shadow: none !important;
}
.tab-background[selected] {
  outline: none !important;
  box-shadow: none !important;
}

/* remove line below toolbox */
#navigator-toolbox{
  border-bottom: none !important;
}

/* round content with borders, for better-looking letterboxing */
/* .browserStack > browser { */
/* 	border: 3px solid var(--toolbar-field-background-color); */
/* 	border-radius: 8px !important; */
/* } */
/* use color of theme for letterboxing background-color */
#tabbrowser-tabpanels {
  background-color: var(--toolbar-field-background-color) !important;
}

/* remove window control buttons */
.titlebar-buttonbox-container {
	display: none !important;
}
.titlebar-close {
	display: none !important;
}

/* always show tab close button on hover and never otherwise */
.tabbrowser-tab .tab-close-button{
	display:none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button{
	display: flex !important;
	align-items: center;
}
